.card {
    background: #fff;
    border-radius: 2px;
    margin: 2rem;
    height:100%;
    position: relative;
    width: 370px;
    height: 750px;
    box-shadow:  5px 10px 5px #999;
    text-align: center;
}
  
.img-container {
    overflow: hidden;
    text-align: center;
    background:#d6e0e6;
}
  
img {
    width: 100%;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;

}
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

  .headingfact{
    text-align: center;
  }
  

  